@{
    Layout = "_BaseLayout";
}

@RenderBody()

@section Header {
    <div class="row">
        <div class="col-md-12">
            @RenderSection("Header", required: false)
            @if (!IsSectionDefined("Header"))
            {
                <partial name="DefaultHeader" />
            }
        </div>
    </div>
}

@section Footer {
    <div class="row">
        <div class="col-md-12">
            @RenderSection("Footer", required: false)
            @if (!IsSectionDefined("Footer"))
            {
                <partial name="DefaultFooter" />
            }
        </div>
    </div>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
