@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Categories";
}

<div class="row category-list">
    <div class="row category-element">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label>Id</label>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4">
            <label>Name</label>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-6">
            <label>Description</label>
        </div>
    </div>
    @foreach (var category in Model)
    {
        <div class="row category-element">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <h4>@category.CategoryId</h4>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4">
                <h4>@category.CategoryName</h4>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
                <p>@category.Description</p>
            </div>
        </div>
    }
</div>
