@model X.PagedList.IPagedList<ProductViewModel>
@{
    ViewBag.Title = "Products";
}

<div class="row items-list">
    <h3>Products</h3>
    <a asp-action="Add"><h5>Add new</h5></a>
</div>

<div id="productsPage">
    @Html.Partial("Partial/Index")
</div>