@model X.PagedList.IPagedList<ProductViewModel>
@{
    ViewBag.Title = "Products";
}

<div class="row items-list">
    <div class="col-md-12">
        <h3>Products</h3>
        <a asp-action="Add"><h5>Add new</h5></a>
    </div>
</div>

<div id="productsPage">
    <partial name="Partial/Index" />
</div>