body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.category-list {
    margin: 10px;
}
.category-list .category-element {
    border-bottom: 1px solid #eee;
}
.category-list .category-element:first-child label,
.category-list .category-element:first-child p
{
    font-weight: bold;
}
.category-list .category-element p {
    margin: 10px 0;
}